ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: right;
    margin-right: 210px;
    margin-top: -50px;
}
li{
    display: inline;
    padding: 15px;
}
li a{
    text-decoration: none;
    color: black;
}

.nav-img{
    margin-left: 400px;
}

.navlinks{
    text-align: center;
}
.content{
    background-image: url("images/background.jpg");

}