ul{
    list-style-type: none;
    float: right;
    margin-right: 210px;
    margin-top: -50px;
}
li{
    display: inline;
    padding: 15px;
}
li a{
    text-decoration: none;
    color: black;
}

.nav-img{
    margin-left: 400px;
}

.content{
    background-image: url("images/background.jpg");
    background-repeat:no-repeat;
    height:2000px;
    width:100%;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}






